.main-header {
  // height: 80%;
  position: relative;
  top: -4px;
}
  .site-title {
    margin: 0;
  }
    .logo {
      width: 100%;
      max-width: 390px;
      margin: 0;
      display: block;
    }
  .intro {
    padding-top: 30px;
    font-size: 36px;
    font-size: 1.5rem;
    line-height: 1.2;
    p {
      margin: 0;
    }
    @include respond-to($break-mid-small) {
      font-size: 1.5rem;
    }
    @include respond-to(tablet) {
      font-size: 2rem;
    }
  }

.link-holder {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  &.desk {
    display: none;
  }
  @include respond-to($break-mid-small) {
    &.desk {
      display: block;
      position: relative;
      padding-right: 40px;
      padding-left: 40px;
      position: absolute;
      bottom: 30px;
      left: 0;
    }
    &.mob {
      display: none;
    }
  }
  @include respond-to(tablet) {
    &.desk {
      padding-right: 70px;
      padding-left: 70px;
    }
  }
}

.link-content {
  li, a {
    font-family: $text-bold;
    font-size: 0.7rem;
  }
  a {
    display: inline-block;
    font-family: $text-bold;
    line-height: 1.7;
  }
  .tags, .social {
    a:after {
      padding-left: 4px;
      content: "/";
      display: inline-block;
    }
    li:last-child a:after {
      content: " ";
    }
  }
}

.group {
  padding: 20px 0 4px;
  border-bottom: 1px solid $grey;
  & > ul > li {
    display: inline-block;
  }
}