.main-header {
  position: relative;
  top: -4px;
}
  .site-title {
    margin: 0;
  }
    .logo {
      width: 100%;
      margin: 0;
      display: block;
    }
  .intro {
    padding-top: 30px;
    font-size: 36px;
    font-size: 1.5rem;
    line-height: 1.2;
    p {
      margin: 0;
    }
    @include respond-to($break-mid-small) {
      font-size: 1.5rem;
    }
    @include respond-to(tablet) {
      font-size: 1.6rem;
    }
  }

.link-holder {
  width: 100%;
  &.desk {
    display: none;
  }
  @include respond-to($break-mid-small) {
    &.desk {
      display: block;
      position: absolute;
      bottom: 20px;
      left: 0;
    }
    &.mob {
      display: none;
    }
  }
  @include respond-to(tablet) {}
}

.link-content, .wp-tag-cloud {
  li, a {
    font-family: $text-bold;
    font-size: 0.7rem;
  }
  a {
    font-family: $text-bold;
    line-height: 1.7;
  }
  & > li {
    padding: 20px 0 4px;
  }
  a[title="Blank"] {
    display: none;
  }
}

.link-content {
  & > li {
    border-bottom: 1px solid $grey;
  }
  .sub-menu {
    & > li {
      display: inline-block;
    }
  }
}

.wp-tag-cloud {
  border-bottom: 1px solid $grey;
  li {
    display: inline-block;
  }
}
