@font-face {
  font-family: 'texgy';
  src: url("../inc/fonts/texgyreheros-regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'texgyBold';
  src: url("../inc/fonts/texgyreheros-bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'texgyItalic';
  src: url("../inc/fonts/texgyreheros-italic.otf");
  font-weight: normal;
  font-style: italic;
}
/* line 1, ../inc/scss/_normalize.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 7, ../inc/scss/_normalize.scss */
body {
  margin: 0;
}

/* line 11, ../inc/scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 26, ../inc/scss/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 34, ../inc/scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 39, ../inc/scss/_normalize.scss */
[hidden],
template {
  display: none;
}

/* line 44, ../inc/scss/_normalize.scss */
a {
  background-color: transparent;
}

/* line 48, ../inc/scss/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 53, ../inc/scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 57, ../inc/scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 62, ../inc/scss/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 66, ../inc/scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 71, ../inc/scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 76, ../inc/scss/_normalize.scss */
small {
  font-size: 80%;
}

/* line 80, ../inc/scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 88, ../inc/scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 92, ../inc/scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 96, ../inc/scss/_normalize.scss */
img {
  border: 0;
}

/* line 100, ../inc/scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 104, ../inc/scss/_normalize.scss */
figure {
  margin: 1em 40px;
}

/* line 108, ../inc/scss/_normalize.scss */
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/* line 113, ../inc/scss/_normalize.scss */
pre {
  overflow: auto;
}

/* line 117, ../inc/scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 125, ../inc/scss/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 135, ../inc/scss/_normalize.scss */
button {
  overflow: visible;
}

/* line 139, ../inc/scss/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 144, ../inc/scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 152, ../inc/scss/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 157, ../inc/scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 163, ../inc/scss/_normalize.scss */
input {
  line-height: normal;
}

/* line 167, ../inc/scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

/* line 173, ../inc/scss/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 178, ../inc/scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

/* line 183, ../inc/scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 188, ../inc/scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 194, ../inc/scss/_normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 199, ../inc/scss/_normalize.scss */
textarea {
  overflow: auto;
}

/* line 203, ../inc/scss/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* line 207, ../inc/scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 212, ../inc/scss/_normalize.scss */
td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/* line 220, ../inc/scss/_normalize.scss */
body,
button,
input,
select,
textarea {
  color: #404040;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

/* line 231, ../inc/scss/_normalize.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

/* line 240, ../inc/scss/_normalize.scss */
p {
  margin-bottom: 1.5em;
}

/* line 244, ../inc/scss/_normalize.scss */
dfn,
cite,
em,
i {
  font-style: italic;
}

/* line 251, ../inc/scss/_normalize.scss */
blockquote {
  margin: 0 1.5em;
}

/* line 255, ../inc/scss/_normalize.scss */
address {
  margin: 0 0 1.5em;
}

/* line 259, ../inc/scss/_normalize.scss */
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

/* line 271, ../inc/scss/_normalize.scss */
code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

/* line 280, ../inc/scss/_normalize.scss */
abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

/* line 286, ../inc/scss/_normalize.scss */
mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

/* line 292, ../inc/scss/_normalize.scss */
big {
  font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/* line 299, ../inc/scss/_normalize.scss */
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 303, ../inc/scss/_normalize.scss */
*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

/* line 309, ../inc/scss/_normalize.scss */
body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

/* line 313, ../inc/scss/_normalize.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

/* line 320, ../inc/scss/_normalize.scss */
blockquote,
q {
  quotes: "" "";
}

/* line 325, ../inc/scss/_normalize.scss */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/* line 332, ../inc/scss/_normalize.scss */
ul,
ol {
  margin: 0 0 1.5em 3em;
}

/* line 337, ../inc/scss/_normalize.scss */
ul {
  list-style: disc;
}

/* line 341, ../inc/scss/_normalize.scss */
ol {
  list-style: decimal;
}

/* line 345, ../inc/scss/_normalize.scss */
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 351, ../inc/scss/_normalize.scss */
dt {
  font-weight: bold;
}

/* line 355, ../inc/scss/_normalize.scss */
dd {
  margin: 0 1.5em 1.5em;
}

/* line 359, ../inc/scss/_normalize.scss */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* line 364, ../inc/scss/_normalize.scss */
table {
  margin: 0 0 1.5em;
  width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* line 372, ../inc/scss/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #e6e6e6;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

/* line 389, ../inc/scss/_normalize.scss */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

/* line 397, ../inc/scss/_normalize.scss */
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb;
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* line 409, ../inc/scss/_normalize.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

/* line 420, ../inc/scss/_normalize.scss */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}

/* line 429, ../inc/scss/_normalize.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}

/* line 437, ../inc/scss/_normalize.scss */
textarea {
  padding-left: 3px;
  width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
/* line 448, ../inc/scss/_normalize.scss */
a {
  color: royalblue;
}

/* line 452, ../inc/scss/_normalize.scss */
a:visited {
  color: purple;
}

/* line 456, ../inc/scss/_normalize.scss */
a:hover,
a:focus,
a:active {
  color: midnightblue;
}

/* line 462, ../inc/scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 466, ../inc/scss/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/* line 474, ../inc/scss/_normalize.scss */
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}

/* line 481, ../inc/scss/_normalize.scss */
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* line 487, ../inc/scss/_normalize.scss */
.main-navigation li {
  float: left;
  position: relative;
}

/* line 492, ../inc/scss/_normalize.scss */
.main-navigation a {
  display: block;
  text-decoration: none;
}

/* line 497, ../inc/scss/_normalize.scss */
.main-navigation ul ul {
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999;
}

/* line 506, ../inc/scss/_normalize.scss */
.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

/* line 511, ../inc/scss/_normalize.scss */
.main-navigation ul ul a {
  width: 200px;
}

/* line 528, ../inc/scss/_normalize.scss */
.main-navigation ul li:hover > ul {
  left: auto;
}

/* line 532, ../inc/scss/_normalize.scss */
.main-navigation ul ul li:hover > ul {
  left: 100%;
}

/* Small menu. */
/* line 542, ../inc/scss/_normalize.scss */
.menu-toggle {
  display: none;
}

@media screen and (max-width: 600px) {
  /* line 547, ../inc/scss/_normalize.scss */
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block;
  }

  /* line 552, ../inc/scss/_normalize.scss */
  .main-navigation ul {
    display: none;
  }
}
/* line 557, ../inc/scss/_normalize.scss */
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

/* line 564, ../inc/scss/_normalize.scss */
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

/* line 571, ../inc/scss/_normalize.scss */
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
/* line 583, ../inc/scss/_normalize.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* line 591, ../inc/scss/_normalize.scss */
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
/* line 616, ../inc/scss/_normalize.scss */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

/* line 622, ../inc/scss/_normalize.scss */
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

/* line 628, ../inc/scss/_normalize.scss */
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
/* line 638, ../inc/scss/_normalize.scss */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
}

/* line 654, ../inc/scss/_normalize.scss */
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
/* line 666, ../inc/scss/_normalize.scss */
.widget {
  margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
/* line 671, ../inc/scss/_normalize.scss */
.widget select {
  max-width: 100%;
}

/* Search widget. */
/* line 676, ../inc/scss/_normalize.scss */
.widget_search .search-submit {
  display: none;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
/* line 686, ../inc/scss/_normalize.scss */
.sticky {
  display: block;
}

/* line 690, ../inc/scss/_normalize.scss */
.hentry {
  margin: 0 0 1.5em;
}

/* line 694, ../inc/scss/_normalize.scss */
.byline,
.updated:not(.published) {
  display: none;
}

/* line 699, ../inc/scss/_normalize.scss */
.single .byline,
.group-blog .byline {
  display: inline;
}

/* line 704, ../inc/scss/_normalize.scss */
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

/* line 710, ../inc/scss/_normalize.scss */
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
/* line 718, ../inc/scss/_normalize.scss */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
/* line 726, ../inc/scss/_normalize.scss */
.comment-content a {
  word-wrap: break-word;
}

/* line 730, ../inc/scss/_normalize.scss */
.bypostauthor {
  display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
/* line 738, ../inc/scss/_normalize.scss */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
/* line 744, ../inc/scss/_normalize.scss */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
/* line 751, ../inc/scss/_normalize.scss */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
/* line 761, ../inc/scss/_normalize.scss */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
/* line 770, ../inc/scss/_normalize.scss */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

/* line 775, ../inc/scss/_normalize.scss */
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}

/* line 780, ../inc/scss/_normalize.scss */
.wp-caption-text {
  text-align: center;
}

/* line 784, ../inc/scss/_normalize.scss */
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
/* line 791, ../inc/scss/_normalize.scss */
.gallery {
  margin-bottom: 1.5em;
}

/* line 795, ../inc/scss/_normalize.scss */
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

/* line 802, ../inc/scss/_normalize.scss */
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

/* line 806, ../inc/scss/_normalize.scss */
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

/* line 810, ../inc/scss/_normalize.scss */
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

/* line 814, ../inc/scss/_normalize.scss */
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

/* line 818, ../inc/scss/_normalize.scss */
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

/* line 822, ../inc/scss/_normalize.scss */
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

/* line 826, ../inc/scss/_normalize.scss */
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

/* line 830, ../inc/scss/_normalize.scss */
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

/* line 834, ../inc/scss/_normalize.scss */
.gallery-caption {
  display: block;
}

/* line 1, ../inc/scss/_globals.scss */
html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-y: scroll;
}

/* line 8, ../inc/scss/_globals.scss */
body {
  height: 100%;
  min-height: 100%;
  font-family: "texgy", Arial, sans-serif;
  color: #757b82;
  position: relative;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* line 19, ../inc/scss/_globals.scss */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 25, ../inc/scss/_globals.scss */
li > ul {
  margin: 0;
}

/* line 29, ../inc/scss/_globals.scss */
::-moz-selection {
  color: #fff;
  background: #68a6ae;
}

/* line 34, ../inc/scss/_globals.scss */
::-moz-selection {
  color: #fff;
  background: #68a6ae;
}
::selection {
  color: #fff;
  background: #68a6ae;
}

/* line 39, ../inc/scss/_globals.scss */
a {
  color: #757b82;
  text-decoration: none;
  font-weight: normal;
}
/* line 43, ../inc/scss/_globals.scss */
a:visited {
  color: #757b82;
}
/* line 46, ../inc/scss/_globals.scss */
a:hover {
  color: #414447 !important;
}
/* line 48, ../inc/scss/_globals.scss */
a:hover span {
  color: #414447 !important;
}

/* line 54, ../inc/scss/_globals.scss */
article p {
  font-size: 0.8rem;
}

/* line 1, ../inc/scss/_general.scss */
.wrapper {
  height: 100%;
  min-height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 12, ../../../../../../../../Users/TheBatman/.rvm/gems/ruby-2.1.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.wrapper:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 8, ../inc/scss/_general.scss */
.hide {
  display: none;
}

/* line 12, ../inc/scss/_general.scss */
.container {
  width: 100%;
  max-width: 500px;
  height: 100%;
  padding-top: 10%;
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 21, ../inc/scss/_general.scss */
.site-content {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 20px;
  position: relative;
  z-index: 20;
  -webkit-transition: opacity 0.75s ease, visibility 0.75s ease, margin 0.75s ease, -webkit-transform 0.5s ease;
     -moz-transition: opacity 0.75s ease, visibility 0.75s ease, margin 0.75s ease, -moz-transform 0.5s ease;
          transition: opacity 0.75s ease, visibility 0.75s ease, margin 0.75s ease, transform 0.5s ease;
  opacity: 0;
  visibility: hidden;
}
/* line 29, ../inc/scss/_general.scss */
.site-content.page-show {
  opacity: 1;
  visibility: visible;
}
/* line 38, ../inc/scss/_general.scss */
.site-content.no-links {
  height: auto;
  min-height: none;
}
/* line 42, ../inc/scss/_general.scss */
.site-content.right {
  float: right;
  -webkit-transition-delay: 0.5s;
     -moz-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
/* line 47, ../inc/scss/_general.scss */
.site-content.page-home {
  height: 100%;
  min-height: 515px;
  position: relative;
}
/* line 52, ../inc/scss/_general.scss */
.site-content.page-default {
  height: auto;
  min-height: none !important;
}
/* line 55, ../inc/scss/_general.scss */
.site-content.page-default .container {
  height: auto;
  min-height: none !important;
}
/* line 59, ../inc/scss/_general.scss */
.site-content.page-default .link-holder {
  display: none;
}
@media only screen and (min-width: 600px) {
  /* line 21, ../inc/scss/_general.scss */
  .site-content {
    width: 50%;
    float: left;
  }
  /* line 66, ../inc/scss/_general.scss */
  .site-content.left {
    height: 100%;
    min-height: 575px;
    padding-left: 4%;
    position: fixed;
    top: 0;
    left: 0;
  }
  /* line 73, ../inc/scss/_general.scss */
  .site-content.left .container {
    height: 100%;
    float: right;
  }
  /* line 79, ../inc/scss/_general.scss */
  .site-content.page-default .link-holder {
    display: block;
  }
  /* line 83, ../inc/scss/_general.scss */
  .site-content.right {
    padding-right: 4%;
    float: right;
  }
  /* line 87, ../inc/scss/_general.scss */
  .site-content.right .container {
    float: left;
  }
  /* line 95, ../inc/scss/_general.scss */
  .site-content.page-show {
    margin-top: 0;
  }
}
@media only screen and (min-width: 769px) {
  /* line 104, ../inc/scss/_general.scss */
  .site-content.left .container {
    float: right;
  }
}

/* line 111, ../inc/scss/_general.scss */
.footer {
  margin: 30px 0 15px;
}

/* line 116, ../inc/scss/_general.scss */
.page-numbers li {
  padding: 0 5px;
  display: inline-block;
  font-size: 0.8rem;
  line-height: 1.2;
}

/* line 124, ../inc/scss/_general.scss */
.is-exiting {
  background: blue;
}

/* line 1, ../inc/scss/_landing-logo.scss */
.for-logo {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  -webkit-transition: background 1s ease;
     -moz-transition: background 1s ease;
          transition: background 1s ease;
  z-index: 200;
}
/* line 10, ../inc/scss/_landing-logo.scss */
.for-logo:after {
  content: "";
  width: 90%;
  height: 100%;
  margin: 0 auto;
  opacity: 1;
  display: block;
  -webkit-transition: visibility 0.5s ease, opacity 0.5s ease;
     -moz-transition: visibility 0.5s ease, opacity 0.5s ease;
          transition: visibility 0.5s ease, opacity 0.5s ease;
  background: no-repeat center center / 100%;
  background-image: url("../inc/imgs/logo.png");
  background-image: url("../inc/imgs/logo.svg");
}
@media only screen and (min-width: 600px) {
  /* line 26, ../inc/scss/_landing-logo.scss */
  .for-logo:after {
    width: 70%;
  }
}

/* line 32, ../inc/scss/_landing-logo.scss */
.intro-animation {
  overflow: hidden;
  opacity: 1;
}
/* line 35, ../inc/scss/_landing-logo.scss */
.intro-animation .for-logo {
  background: #fff;
}
/* line 37, ../inc/scss/_landing-logo.scss */
.intro-animation .for-logo:after {
  opacity: 1;
}
/* line 41, ../inc/scss/_landing-logo.scss */
.intro-animation .left {
  -webkit-transition-delay: 0.5s !important;
     -moz-transition-delay: 0.5s !important;
          transition-delay: 0.5s !important;
}

/* line 1, ../inc/scss/_leftbox.scss */
.main-header {
  position: relative;
  top: -4px;
}

/* line 5, ../inc/scss/_leftbox.scss */
.site-title {
  margin: 0;
}

/* line 8, ../inc/scss/_leftbox.scss */
.logo {
  width: 100%;
  margin: 0;
  display: block;
}

/* line 13, ../inc/scss/_leftbox.scss */
.intro {
  padding-top: 30px;
  font-size: 36px;
  font-size: 1.5rem;
  line-height: 1.2;
  display: none;
}
/* line 19, ../inc/scss/_leftbox.scss */
.intro p {
  margin: 0;
}
/* line 22, ../inc/scss/_leftbox.scss */
.page-home .intro {
  display: block;
}
@media only screen and (min-width: 600px) {
  /* line 13, ../inc/scss/_leftbox.scss */
  .intro {
    font-size: 1.5rem;
    display: block;
  }
}
@media only screen and (min-width: 769px) {
  /* line 13, ../inc/scss/_leftbox.scss */
  .intro {
    font-size: 1.6rem;
  }
}

/* line 34, ../inc/scss/_leftbox.scss */
.link-holder {
  width: 100%;
}
/* line 36, ../inc/scss/_leftbox.scss */
.link-holder.desk {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 0;
}
@media only screen and (min-width: 600px) {
  /* line 43, ../inc/scss/_leftbox.scss */
  .link-holder.desk {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 0;
  }
  /* line 49, ../inc/scss/_leftbox.scss */
  .link-holder.mob {
    display: none;
  }
}

/* line 57, ../inc/scss/_leftbox.scss */
.link-content li, .link-content a, .wp-tag-cloud li, .wp-tag-cloud a {
  font-family: "texgyBold", Arial, sans-serif;
  font-size: 0.7rem;
}
/* line 61, ../inc/scss/_leftbox.scss */
.link-content a, .wp-tag-cloud a {
  font-family: "texgyBold", Arial, sans-serif;
  line-height: 1.7;
}
/* line 65, ../inc/scss/_leftbox.scss */
.link-content > li, .wp-tag-cloud > li {
  padding: 20px 0 4px;
}
/* line 68, ../inc/scss/_leftbox.scss */
.link-content a[title="Blank"], .wp-tag-cloud a[title="Blank"] {
  display: none;
}

/* line 74, ../inc/scss/_leftbox.scss */
.link-content > li {
  border-bottom: 1px solid #757b82;
}
/* line 78, ../inc/scss/_leftbox.scss */
.link-content .sub-menu > li {
  display: inline-block;
}

/* line 84, ../inc/scss/_leftbox.scss */
.wp-tag-cloud {
  border-bottom: 1px solid #757b82;
}
/* line 86, ../inc/scss/_leftbox.scss */
.wp-tag-cloud li {
  display: inline-block;
}

/* line 1, ../inc/scss/_landing-right.scss */
.more-link, .more-text, .tags-links, .tag-links a, .author, .time {
  color: #68a6ae;
  font-family: "texgyBold", Arial, sans-serif;
}

/* line 6, ../inc/scss/_landing-right.scss */
.tags-links a, .more-text {
  color: #68a6ae;
  text-transform: uppercase;
}

/* line 11, ../inc/scss/_landing-right.scss */
.more-text {
  white-space: nowrap;
}

/* line 15, ../inc/scss/_landing-right.scss */
.arrows {
  position: relative;
  bottom: 1px;
  letter-spacing: -0.2em;
}

/* line 21, ../inc/scss/_landing-right.scss */
.time {
  font-family: "texgyItalic", Arial, sans-serif;
  font-style: italic;
}

/* line 26, ../inc/scss/_landing-right.scss */
.entry-footer {
  margin-top: 20px;
}

/* line 31, ../inc/scss/_landing-right.scss */
.home-page article, .archive-page article {
  margin-bottom: 90px;
}

/* line 36, ../inc/scss/_landing-right.scss */
.tag-title {
  margin-top: 0;
  padding-top: 0;
  font-family: "texgyItalic", Arial, sans-serif;
  font-style: italic;
  font-size: 0.7rem;
  text-transform: uppercase;
}

/* line 45, ../inc/scss/_landing-right.scss */
.nav-links {
  position: relative;
}

/* line 49, ../inc/scss/_landing-right.scss */
.nav-button {
  display: inline-block;
}
/* line 51, ../inc/scss/_landing-right.scss */
.nav-button a {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
/* line 58, ../inc/scss/_landing-right.scss */
.nav-button.prev a:before {
  content: "\003C\003C";
  letter-spacing: -0.2em;
  padding-right: 5px;
  position: relative;
  bottom: 1px;
}
/* line 65, ../inc/scss/_landing-right.scss */
.nav-button.next {
  float: right;
}
/* line 67, ../inc/scss/_landing-right.scss */
.nav-button.next a {
  padding-right: 14px;
  position: relative;
  z-index: 10;
}
/* line 72, ../inc/scss/_landing-right.scss */
.nav-button.next:after {
  content: "\003E \003E";
  position: absolute;
  letter-spacing: -0.2em;
  right: 2px;
  bottom: 5px;
}
/* line 79, ../inc/scss/_landing-right.scss */
.nav-button.next:hover {
  color: #414447;
}

/* line 2, ../inc/scss/_single.scss */
.single-post article.post {
  border-bottom: 1px solid #757b82;
}
/* line 5, ../inc/scss/_single.scss */
.single-post .post-navigation {
  margin-top: 7em;
  margin-bottom: 0.8em;
  font-family: "texgyBold", Arial, sans-serif;
  text-transform: uppercase;
}

/* line 13, ../inc/scss/_single.scss */
.comments-title {
  margin: 20px 0;
  text-transform: uppercase;
  font-family: "texgyBold", Arial, sans-serif;
}

/* line 19, ../inc/scss/_single.scss */
.comment p {
  margin: 5px 0 20px;
  font-family: "texgyBold", Arial, sans-serif;
}

/* line 24, ../inc/scss/_single.scss */
.comment-form {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 12, ../../../../../../../../Users/TheBatman/.rvm/gems/ruby-2.1.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.comment-form:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 27, ../inc/scss/_single.scss */
.comment-form input, .comment-form textarea {
  width: 100%;
  display: block;
  -webkit-border-radius: 0;
          border-radius: 0;
  font-size: 0.8rem;
  color: #757b82;
  -webkit-transition: -webkit-box-shadow 0.25s ease;
     -moz-transition: box-shadow 0.25s ease;
          transition: box-shadow 0.25s ease;
}
/* line 34, ../inc/scss/_single.scss */
.comment-form input:focus, .comment-form textarea:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 0 2px #757b82;
          box-shadow: inset 0 0 0 2px #757b82;
}
/* line 39, ../inc/scss/_single.scss */
.comment-form p {
  margin: 0;
}
/* line 42, ../inc/scss/_single.scss */
.comment-form .com-overlay {
  content: "Start Discussion";
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid rgba(117, 123, 130, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  background: #f1f8fe;
  cursor: pointer;
  -webkit-transition: border-color 0.5s ease;
     -moz-transition: border-color 0.5s ease;
          transition: border-color 0.5s ease;
}
/* line 54, ../inc/scss/_single.scss */
.comment-form .com-overlay span {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  font-family: "texgyBold", Arial, sans-serif;
  font-size: 1rem;
  color: rgba(117, 123, 130, 0.25);
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: color 0.5s ease;
     -moz-transition: color 0.5s ease;
          transition: color 0.5s ease;
}
/* line 64, ../inc/scss/_single.scss */
.comment-form .com-overlay:hover {
  border-color: #757b82;
}
/* line 66, ../inc/scss/_single.scss */
.comment-form .com-overlay:hover span {
  color: #757b82;
}

/* line 73, ../inc/scss/_single.scss */
.post-comment {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 77, ../inc/scss/_single.scss */
.post-comment.com-name input, .post-comment.com-email input {
  padding: 8px;
}
/* line 80, ../inc/scss/_single.scss */
.post-comment.com-name input {
  border-bottom: 0;
  border-right: 0;
}
/* line 83, ../inc/scss/_single.scss */
.post-comment.com-email input {
  border-bottom: 0;
}
/* line 86, ../inc/scss/_single.scss */
.post-comment.com-box {
  clear: both;
}
@media only screen and (min-width: 600px) {
  /* line 90, ../inc/scss/_single.scss */
  .post-comment.com-name, .post-comment.com-email {
    width: 50%;
    float: left;
  }
}

/* line 96, ../inc/scss/_single.scss */
.but-sub {
  clear: both;
}
/* line 98, ../inc/scss/_single.scss */
.but-sub input {
  padding: 8px;
  border: 0;
  background: #757b82;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "texgyBold", Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-shadow: none;
  -webkit-transition: background 0.5s ease;
     -moz-transition: background 0.5s ease;
          transition: background 0.5s ease;
}
/* line 108, ../inc/scss/_single.scss */
.but-sub input:hover {
  background: #414447;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* line 2, ../inc/scss/_page.scss */
.site-page h1 {
  margin-top: 0;
  font-weight: normal;
}
